<div class="content clearfix">


    <h2>Página de Produtos</h2>
    <h3>Abaixo veja a lista de produtos oferecidos:</h3>
    <div><label for="search">Pesquisar: <input id="search" ng-model="product.filter.name" type="text" /></label></div>
    <table>
        <thead>
            <tr>
                <th><a href="" ng-click="product.order('name')">NOME</a></th>
                <th><a href="" ng-click="product.order('peso')">PESO (Kg)</a></th>
                <th><a href="" ng-click="product.order('_id')">ID</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="" ng-repeat="produto in product.items | filter: product.filter | orderBy:product.predicate:product.reverse ">
                <td>{{ produto.name  }}</td>
                <td>{{ produto.peso }}</td>
                <td>{{ produto._id }}</td>
                <td><button ng-click="product.deleteWish(produto)">X</button></td>
                <td>
                    <div class="edicao">
                        <button ng-click="product.showEdicao($index, produto)">Edit</button>
                        <div class="box_edit" ng-if="product.edicao[$index]">
                            <input type="text" ng-model="product.produtoTemp.name" />
                            <input type="number" ng-model="product.produtoTemp.peso" />
                            <button ng-click="product.updateProduct(product.produtoTemp)">Salvar</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="box">
        <button ng-click="product.showPreview()">Incluir Produto</button>
        <ul class="form_produto" ng-if="product.preview">
            <li><label for="produto">Nome do Produto: <input id="produto" type="text" ng-model="product.novoProduto.name"/></label></li>
            <li><label for="peso">Peso do Produto: <input id="peso" type="number" ng-model="product.novoProduto.peso"/></label></li>
            <li><button ng-click="product.addItem(product.novoProduto)">Enviar</button></li>

        </ul>

    </div>
</div>