/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* CLEARFIX */
.clearfix:after {content: "."; display: block;clear: both; visibility: hidden; line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}


/* PROJETO */
* {font-family: Verdana, Georgia, sans-serif;}
html {position:relative;}
h1 {font-size:40px; color:#ffffff;}
h2 {font-size:30px; margin:15px 0 0 0;}
h3 {margin:5px 0;}
ul.menu {margin:20px 0;}
ul.menu li {display:inline-table; margin:0 5px 0 0;}
.content {clear:both; margin:30px 0 0 0; padding:10px;}
table {margin:15px 0 0 0;}
table thead {font-weight:bold; padding:0 10px; background-color:#f0f0f0;}
table tr td {padding:2px 20px;}
footer {margin:150px 0 0 0;}
footer p {color:#999; padding:10px;}
.header {height:40px; width:100%; background-color:#999; padding:10px;}
.box {padding:10px;}
.form_produto {margin:10px 0 0 0;}
.form_produto li {margin:0 0 4px 0;}
.rosa {color:red;}
.edicao {position:relative;}
.box_edit {position:absolute; left:50px; top:-150px; width:300px; height:250px; background-color:#f0f0f0; border-radius:3px;}