.edicao {position:relative;}
.box_edit {position:absolute; left:50px; top:-150px; width:300px; height:250px; background-color:#f0f0f0; border-radius:3px;}
.box_erro {background-color:green; color:#ffffff; width:400px; height:auto; text-align:center;}
.box_erro p {margin:5px auto;}