<ion-view view-title="Lista de Compras">
  <ion-content class="padding">


        <label class="item item-input item-select">
          <div class="input-label">
            Responsável
          </div>
          <select name="show-filter" ng-model="lista.filter.responsavel">
            <option value="">Todos</option>
            <option value="Leonardo">Leonardo</option>
            <option value="Carisa">Carisa</option>
          </select>
        </label>


    <ion-list class="cont">
      <ion-item ng-repeat="produto in lista.items | filter: lista.filter | orderBy:['status','nome']" ng-class="{'descelecionado': produto.status, 'selecionado': !produto.status}">
        <div class="row">
          <div class="col-60">
            <ion-checkbox class="checkItem checkProd" ng-model="produto.status" ng-change="lista.marcaProduto($index, produto)"></ion-checkbox>
            <div class="float-left">
              <div>
                <h3 ng-if="!lista.camposAbertos[$index]">{{ produto.nome }}</h3>
                <input class="inputEdit" ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.nome"/>
              </div>
              <div>
                <p class="" ng-init="itemTotal = produto.valor * (produto.qtdeNecessaria - produto.qdteDispensa); lista.Total = lista.Total + itemTotal" ng-if="!lista.camposAbertos[$index]">{{ produto.valor | currency:"R$": 2 }}</span></p>
                <input class="inputEdit" ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.valor"/>
              </div>
            </div>
          </div>
          <div class="col-10 center">
            <input class="inputNumber inputEdit" ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.qtdeNecessaria"/>
            <p class="badgevalor badgevermelho" ng-if="!lista.camposAbertos[$index]">{{ produto.qtdeNecessaria }}</p><span class="titpeq">Ideal</span>
          </div>
          <div class="col-10 center">
            <input class="inputNumber inputEdit" ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.qdteDispensa"/>
            <p class="badgevalor badgelaranja" ng-if="!lista.camposAbertos[$index]">{{ produto.qdteDispensa }}</p><span class="titpeq">Atual</span>
          </div>
          <div class="col-10 center"><p class="badgevalor badgeverde">{{ produto.qtdeNecessaria - produto.qdteDispensa }}</p><span class="titpeq">Comprar</span></div>

          <!--<div class="col-10">-->
            <!--<p ng-init="itemTotal = produto.valor * (produto.qtdeNecessaria - produto.qdteDispensa); lista.Total = lista.Total + itemTotal">{{ itemTotal | currency:"R$": 2 }}</p>-->
          <!--</div>-->
          <!--<div>-->
            <!--<p ng-if="!lista.camposAbertos[$index]">{{ produto.responsavel }}</p>-->
            <!--<input ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.responsavel"/>-->
          <!--</div>-->
          <div class="col-10 center">






            <div class="acoes">
              <p class="abrir" ng-click="lista.abreBox($index, produto)"><span class="ion-ios-more" data-pack="ios"></span></p>
              <ul class="comandos" ng-if="lista.boxAcoes[$index]">
                <li><button ng-if="!lista.camposAbertos[$index]" ng-click="lista.editarProduct($index, produto)">Editar</button></li>
                <li><button ng-if="lista.camposAbertos[$index]" ng-click="lista.atualizaProduct($index, produto)">Salvar</button></li>
                <li><button ng-click="lista.deletaProduto(produto)">Excluir</button></li>
                <li><button ng-click="lista.cancelAction($index, produto)">Cancelar</button></li>
              </ul>
            </div>
          </div>


          </div>
      </ion-item>

    </ion-list>


    <h4>Previsão: R$ {{ lista.Total | currency:"R$": 2 }}</h4>

    <h4>No carrinho {{ lista.TotalCarrinho | currency:"R$": 2 }}</h4>



  </ion-content>
</ion-view>
