<ion-view view-title="Incluir Item">
  <ion-content class="padding">


    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="inclui.novoProduto.nome" placeholder="Nome do Produto">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="inclui.novoProduto.qtdeNecessaria" Placeholder="Quantidade Ideal">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="inclui.novoProduto.qdteDispensa" placeholder="Quantidade na Dispensa">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="inclui.novoProduto.valor" placeholder="Valor do Produto">
      </label>
      <!--<label class="item item-input">-->
        <!--<input type="text" ng-model="inclui.novoProduto.responsavel" placeholder="Responsável pelo Produto">-->
      <!--</label>-->

      <label class="item item-input item-select">
        <div class="input-label">
          Responsável
        </div>
        <select ng-model="inclui.novoProduto.responsavel">
          <option selected>Selecione</option>
          <option value="Leonardo">Leonardo</option>
          <option value="Carisa">Carisa</option>
        </select>
      </label>



      <button class="button button-block button-positive" ng-click="inclui.incluiProduto(inclui.novoProduto)">Incluir</button>

    </div>

    <div class="boxsucesso " ng-if="inclui.boxSucesso == true">
      <div class="msgsucesso padding"><h3>Produto incluído com sucesso!</h3></div>
    </div>

  </ion-content>
</ion-view>
