<ion-view view-title="Configurações">
  <ion-content>
    <ion-list>
    <!--<ion-toggle  ng-model="settings.enableFriends">-->
        <!--Enable Friends-->
    <!--</ion-toggle>-->
    <!--<div class="item padding">-->
      <!--<button class="button button-block button-positive">-->
        <!--Desmarcar Todos os Itens-->
      <!--</button>-->
    <!--</div>-->
      <div class="item padding">
        <button ng-click="account.showConfirm(produto)" class="button button-block button-assertive">
          Apagar Todos os Produtos
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
