p {margin:0;}
.descelecionado p {color:#BBBBBB; text-decoration:line-through;}
.acoes {position:relative;}
.comandos {position:absolute; right:-75px; top:-15px; padding:5px; background-color:#696969; color:#cccccc; z-index:10; list-style-type:none;}


