<div class="row">

   <div class="col-sm-12">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">Formulário de Edição de Produto</div>
         <div class="panel-body">
            <form class="form-horizontal">
               <div class="form-group">
                  <label class="col-lg-2 control-label">Nome do Produto</label>
                  <div class="col-lg-10">
                     <input type="text" placeholder="Nome do Produto" class="form-control" ng-model="produto.produtoInfo.name" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-2 control-label">Peso do Produto</label>
                  <div class="col-lg-10">
                     <input type="text" placeholder="Peso do Produto" class="form-control" ng-model="produto.produtoInfo.peso" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-2 control-label">ID do Produto</label>
                  <div class="col-lg-10">
                     <input disabled type="text" placeholder="ID do Produto" class="form-control" ng-model="produto.produtoInfo._id" />
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-2 control-label">Peso do Produto</label>
                  <div class="col-lg-10">
                     <input disabled type="text" placeholder="ID do Usuário" class="form-control" ng-model="produto.produtoInfo.userid" />
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                     <button type="submit" class="btn btn-sm btn-default" ng-click="produto.atualizaProduto(produto.produtoInfo)">Salvar</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <!-- END panel-->
   </div>

</div>
