<h3>
   <!-- START Language list-->
   <div class="pull-right">
      <div dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- END Language list    -->
   Single View
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<div class="row">
   <div class="col-xs-12 text-center">
      <h2 class="text-thin">Single view content</h2>
      <p>{{ 'dashboard.INTRO_TEXT' | translate:{ appName: app.name } }}
         <br/>{{ 'dashboard.INTRO_TEXT2' | translate:{ appName: app.name } }}</p>
   </div>
</div>