<div class="row">

   <div class="col-sm-12">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">Formulário de Edição de Produto</div>
         <div class="panel-body">
            <form class="form-horizontal">
               <div class="form-group">
                  <label class="col-lg-2 control-label">Nome do Produto</label>
                  <div class="col-lg-10">
                     <input type="text" placeholder="Nome do Produto" class="form-control" ng-model="produtos.novoProduto.name" />{{ produto.produtoInfo.name }}
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-2 control-label">Peso do Produto</label>
                  <div class="col-lg-10">
                     <input type="text" placeholder="Peso do Produto" class="form-control" ng-model="produtos.novoProduto.peso" //>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                     <button type="submit" class="btn btn-sm btn-default" ng-click="produtos.addItem(produtos.novoProduto)">Adicionar</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <!-- END panel-->
   </div>

</div>
