<h3>Adicionar Produtos
    <small>Abaixo você poderá adicionar novos produtos</small>
</h3>

<div class="row">

    <div class="col-sm-12">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">Formulário de Adição de Produto</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nome do Produto</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Nome do Produto" class="form-control" ng-model="addproduto.novoProduto.name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Peso do Produto</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Peso do Produto" class="form-control" ng-model="addproduto.novoProduto.peso" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-sm btn-default" ng-click="addproduto.addItem(addproduto.novoProduto)">Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END panel-->
    </div>

</div>