<h3>Gráficos
    <small>Abaixo você poderá visualizar todos os gráficos</small>
</h3>

<h4>teste de git novamente</h4>
<flot dataset="graficos.areaData" options="graficos.areaOptions" height="300px"></flot>