<h3>Listar Produtos
    <small>Abaixo você confere todos os produtos disponíveis</small>
</h3>


<!-- START row-->
<div class="row">
    <div class="col-lg-12">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">Produtos Disponíveis</div>
            <div class="panel-body">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome do Produto</th>
                            <th>ID</th>
                            <th>Peso</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="" ng-repeat="produto in produtos.items">
                                <td></td>
                                <td>{{ produto.name }}</td>
                                <td>{{ produto._id }}</td>
                                <td>{{ produto.peso }}</td>
                                <td class="text-center">
                                    <div dropdown="dropdown" class="btn-group">
                                        <button type="button" ng-disabled="disabled" dropdown-toggle="" class="btn btn-default btn-xs">
                                            <em class="fa fa-angle-down fa-fw"></em>Action</button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="#" ng-click="produtos.deleteProduct(produto)">Remover</a>
                                            </li>
                                            <li><a href="#" ng-click="produtos.editProduct(produto._id)">Editar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
        <!-- END panel-->
    </div>
</div>
<!-- END row-->

