<h2>Atualização de Item</h2>


<ul>
    <!--<li><label for="id">ID: <input id="id" type="text" ng-model="incluiItem.novoProduto.id"></label></li>-->
    <li><label for="tipo">Tipo: <input id="tipo" type="text" ng-model="atualizaItem.prod.tipo"></label></li>
    <li><label for="cor">Cor: <input id="cor" type="text" ng-model="atualizaItem.prod.cor"></label></li>
    <li><label for="tamanho">Tamanho: <input id="tamanho" type="text" ng-model="atualizaItem.prod.tamanho"></label></li>
    <li><button ng-click="atualizaItem.atualizacaoItem(atualizaItem.prod)">Criar Produto</button></li>
</ul>