<h2>Inclusão de Itens</h2>


<ul>
    <!--<li><label for="id">ID: <input id="id" type="text" ng-model="incluiItem.novoProduto.id"></label></li>-->
    <li><label for="tipo">Tipo: <input id="tipo" type="text" ng-model="incluiItem.novoProduto.tipo"></label></li>
    <li><label for="cor">Cor: <input id="cor" type="text" ng-model="incluiItem.novoProduto.cor"></label></li>
    <li><label for="tamanho">Tamanho: <input id="tamanho" type="text" ng-model="incluiItem.novoProduto.tamanho"></label></li>
    <li><button ng-click="incluiItem.adicionarProduto(incluiItem.novoProduto)">Criar Produto</button></li>
</ul>