<h2>Listagem Geral</h2>

<!-- Tabela exemplo puxando informações estáticas do controller -->
<!-- <table>
    <tr>
        <td>ID</td>
        <td>Tipo</td>
        <td>Tamanho</td>
        <td>Cor</td>
    </tr>
    <tr ng-repeat="produto in listagem.artigos">
        <td>{{ produto.id }}</td>
        <td>{{ produto.tipo }}</td>
        <td>{{ produto.tamanho }}</td>
        <td>{{ produto.cor }}</td>
    </tr>
</table> -->

<!-- Tabela exemplo puxando as informações do Jason hospedado em ambiente para teste -->
<table>
    <tr>
        <td>ID</td>
        <td>Tipo</td>
        <td>Cor</td>
        <td>Tamanho</td>
        <td>Ações</td>
    </tr>

    <tr ng-repeat="produto in listagem.items">
        <td>{{ produto.id }}</td>
        <td>{{ produto.tipo }}</td>
        <td>{{ produto.cor }}</td>
        <td>{{ produto.tamanho }}</td>
        <td><button ng-click="listagem.deleteProduto(produto)">Excluir</button></td>
        <td>
            <div class="edicao">
                <button ng-click="listagem.showEdicao($index, produto)">Editar</button>
                <div class="box_edit" ng-if="listagem.edicao[$index]">
                    <input type="text" ng-model="listagem.produtoTemp.tipo" />
                    <input type="text" ng-model="listagem.produtoTemp.cor" />
                    <input type="text" ng-model="listagem.produtoTemp.tamanho" />
                    <button ng-click="listagem.updateProduct(listagem.produtoTemp)">Salvar</button>
                </div>
            </div>
        </td>
    </tr>

    <div ng-if="listagem.boxMensagem == true" class="box_erro">
        <p>Produto Atualizado com sucesso!</p>
    </div>

</table>