/* Empty. Add your own CSS if you like */
.checkItem {border:none;}
/*.item {padding:8px 10px;}*/
.descelecionado, .descelecionado label {background-color:#E8E7E7;}
.descelecionado .badgelaranja {background-color:transparent;}
.descelecionado .badgevermelho {background-color:transparent;}
.descelecionado .badgeverde {background-color:transparent;}
.descelecionado h3, .descelecionado p {color:#ffffff;}

.center {text-align:center;}
label.checkItem .checkbox {padding-left:0;}
.checkItem .checkbox {}
.item-checkbox {padding-left:45px;}

.item p.badgevalor {display:table; padding:2px 9px; border-radius:7px; color:#ffffff; margin:0 auto;}
.badgelaranja {background-color:#e6b500;}
.badgevermelho {background-color:#e42112;}
.badgeverde {background-color:#33cd5f;}
.titpeq {font-size:10px;}
.boxsucesso {}
.msgsucesso {border-radius:4px; background-color:#4cd964; text-align:center;}
.msgsucesso h3 {color:#ffffff;}
.checkProd {float:left; height:100%}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {

}
.float-left {float:left;}
input.inputNumber {width:50% !important; margin:0 auto !important; text-align:center; padding-left:0 !important;}
input.inputEdit {border:1px solid #9e9e9e; height:24px; padding-left:10px; margin:2px; width:100%;}
