<h1>{{ contact.title }}</h1>
<h2>{{ contact.subtitle }}</h2>
<form action="">
    <ul>
        <li><input ng-model="contact.nameform" type="text" placeholder="Seu Nome"/></li>
        <li><input ng-model="contact.email" type="text" placeholder="Seu E-mail"/></li>
        <li><textarea ng-model="contact.textarea" name="" id="" cols="30" rows="10"></textarea></li>
        <li>
            <button ng-click="contact.showPreview()" value="Preview">Preview</button>
            <button value="Enviar">Enviar</button>
        </li>
    </ul>
</form>

<div ng-if="contact.preview">
    <strong>Preview da Mensagem</strong>
    <p><span ng-bind="contact.nameform"></span></p>
    <p><span ng-bind="contact.email"></span></p>
    <p><span ng-bind="contact.textarea"></span></p>

</div>