<h1>Bem vindo {{main.name}}</h1>

<h2 class="tit">Diretivas</h2>

<ul>
    <li ng-repeat="key in main.keyWords">{{key}}</li>
</ul>

<input ng-model="main.name" type="text" />
<h3 ng-bind="main.name + ' Silva'"></h3>

<div ng-if="main.name == 'Kira'">
    <p>Japonês</p>
</div>
<button ng-click="main.showAlert()">Botão</button>
<p ng-click="main.nextPage()">Clique para next page</p>
<p></p><a href="#/contact">Página de contato</a></p>

<div class="block">
    <p><strong>Disabled</strong></p>
<input type="checkbox" ng-model="main.checkbox" />
<input type="text" ng-disabled="main.checkbox" ng-model="main.name" />
</div>

<div class="block">
    <p><strong>Ng-Show</strong></p>
    <input type="checkbox" ng-model="main.checkbox2" />
    <input type="text" ng-show="main.checkbox2" ng-model="main.name" />
</div>

<div class="block">
    <p><strong>Ng-Hide</strong></p>
    <input type="checkbox" ng-model="main.checkbox3" />
    <input type="text" ng-hide="main.checkbox3" ng-model="main.name" />
</div>

<div class="block">
    <dl>
        <p><strong>Ng-Repeat 1</strong></p>
        <dt><strong>Funcionários</strong></dt>
        <dd ng-repeat="empregado in main.emps">{{ empregado }}</dd>
    </dl>
</div>

<div class="block">
    <p><strong>Ng-repeat 2</strong></p>
    <table>
        <thead>
            <td>Funcionários</td>
        </thead>
        <tbody>
            <tr ng-repeat="empregados in main.emps2">
                <td>{{ empregados.name }}</td>
                <td ng-bind="empregados.nickname"></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="block">
    <p><strong>Ng-repeat 3</strong></p>
    <table>
        <thead>
        <td>Funcionários</td>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in main.emp3">
            <td>{{ key }}</td>
            <td ng-bind="value"></td> <!-- ou <td>{{ value }}</td>  -->
        </tr>
        </tbody>
    </table>
</div>

<div class="block">
    <p><strong>Ng-options</strong></p>
    <select ng-model="main.emp2" name="" id="" ng-options="emp as emp.name for emp in main.emps2">
        <option value="" selected="selected">Selecione um funcionário</option>
    </select>
</div>

<div class="block">
    <p><strong>ng-class</strong></p>
    <select name="" id="" ng-model="main.currentUser.status">
        <option value="" selected="selected">Selecione um status</option>
        <option value="blocked">blocked</option>
        <option value="removed">removed</option>
    </select>
    <p ng-class="{ 'blocked' : main.currentUser.status == 'blocked' }" ng-bind="main.currentUser.name"></p>
</div>

<div class="block">
    <p><strong>ng-include</strong></p>

</div>

<h2 class="tit">Filtros</h2>
<p>{{ main.value | currency }} ou <p>{{ main.value | currency: 'R$' : 2 }}</p></p>

<div class="block">
    <p><strong>Filter option</strong></p>
    <input ng-model="main.filter.nickname" type="text" placeholder="nickname" />
    <input ng-model="main.filter.name" type="text" placeholder="name" />
    <input ng-model="main.filter.$" type="text" placeholder="todos"/>
    <table>
        <thead>
        <td>Funcionários</td>
        </thead>
        <tbody>
        <tr ng-repeat="empregados in main.emps2 | filter: main.filter | orderBy: 'name'">
            <td>{{ empregados.name }}</td>
            <td ng-bind="empregados.nickname"></td>
        </tr>
        </tbody>
    </table>
</div>
