
.block {border-radius:3px; background-color:#f5f5f5; padding:10px; width:auto; margin:0 0 10px 0; border:1px solid #ccc;}
input:disabled {background-color:#cccccc; border:none;}
h1 {font-size:22px;}
.tit {font-size:30px;}
.blocked {color:red;}