<h2>Inclui Item</h2>

<ul>
    <li><label for="item">Item: <input type="text" ng-model="inclui.novoProduto.nome"></label></li>
    <li><label for="necessario">Qdte. Necessária: <input type="text" ng-model="inclui.novoProduto.qtdeNecessaria"></label></li>
    <li><label for="dispensa">Qdte. Dispensa: <input type="text" ng-model="inclui.novoProduto.qdteDispensa"></label></li>
    <li><label for="valor">Valor: <input ng-model="inclui.novoProduto.valor"></label></li>
    <li><label for="responsavel">Responsável: <input type="text" ng-model="inclui.novoProduto.responsavel"></label></li>
    <input type="hidden" ng-model="inclui.novoProduto.status">
    <li><button ng-click="inclui.incluiProduto(inclui.novoProduto)">Incluir</button></li>
</ul>

<div class="boxsucesso" ng-if="inclui.boxSucesso == true">Produto incluído com sucesso!</div>