<h2>Lista de Compras</h2>

<table>

    <thead>
        <!-- <td>ID</td>-->
        <td></td>
        <td>Item</td>
        <td>Necessário</td>
        <td>Dispensa</td>
        <td>Comprar</td>
        <td>Valor Unit.</td>
        <td>Valor Total</td>
        <!--<td><input ng-model="lista.filter.responsavel" type="text" placeholder="responsavel" /></td>-->
        <td>
            <select name="show-filter" ng-model="lista.filter.responsavel">
                <option value="">Responsável</option>
                <option value="Leonardo">Leonardo</option>
                <option value="Carisa">Carisa</option>

            </select>
        </td>
    </thead>
    <tbody>
        <tr ng-repeat="produto in lista.items | filter: lista.filter | orderBy:['status','nome']" ng-class="{'descelecionado': produto.status, 'selecionado': !produto.status}">
            <!--<td>{{ produto.id }}</td>-->
            <td><input type="checkbox" ng-model="produto.status" ng-change="lista.atualizaProduct($index, produto)" /></td>
            <td>
                <p ng-if="!lista.camposAbertos[$index]">{{ produto.nome }}</p>
                <input ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.nome"/>
            </td>
            <td>
                <p ng-if="!lista.camposAbertos[$index]">{{ produto.qtdeNecessaria }}</p>
                <input ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.qtdeNecessaria"/>
            </td>
            <td>
                <p ng-if="!lista.camposAbertos[$index]">{{ produto.qdteDispensa }}</p>
                <input ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.qdteDispensa"/>
            </td>
            <td><p>{{ produto.qtdeNecessaria - produto.qdteDispensa }}</p></td>
            <td>
                <p ng-if="!lista.camposAbertos[$index]">{{ produto.valor | currency:"R$": 2 }}</p>
                <input ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.valor"/>
            </td>
            <td>
                <p ng-init="itemTotal = produto.valor * (produto.qtdeNecessaria - produto.qdteDispensa); lista.Total = lista.Total + itemTotal">{{ itemTotal | currency:"R$": 2 }}</p>
            </td>
            <td>
                <p ng-if="!lista.camposAbertos[$index]">{{ produto.responsavel }}</p>
                <input ng-if="lista.camposAbertos[$index]" type="text" ng-model="produto.responsavel"/>
            </td>
            <td>
                <div class="acoes">
                    <p class="abrir" ng-click="lista.abreBox($index, produto)">Ações</p>
                    <ul class="comandos" ng-if="lista.boxAcoes[$index]">
                        <li><button ng-if="!lista.camposAbertos[$index]" ng-click="lista.editarProduct($index, produto)">Editar</button></li>
                        <li><button ng-if="lista.camposAbertos[$index]" ng-click="lista.atualizaProduct($index, produto)">Salvar</button></li>
                        <li><button ng-click="lista.deletaProduto(produto)">Excluir</button></li>
                        <li><button ng-click="lista.cancelAction($index, produto)">Cancelar</button></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<h3>Previsão de Gasto: R$ {{ lista.Total | currency:"R$": 2 }}</h3>

<h3>Valor no carrinho {{ lista.TotalCarrinho | currency:"R$": 2 }}</h3>